@import "../../utils/color";

.btn {
    border-radius: 8px;
    padding: 8px 18px;
    background-color: $secondary_2;
    font-size: 1.8rem;
    color: $white-primary;
    box-shadow: 1px 1px 0 $accent_1;
    transition: all .6s ease;
    opacity: .9;
    
    border: none;
    outline: none;
    
    &.cancel-btn {
        box-shadow: 1px 1px 0 $secondary_2;
        background-color: $accent_2;
        color: $white-primary;
    }

    &:hover {
        cursor: pointer;
        background-color: $secondary_2;
        box-shadow: 0px 0px 5px 0px  $accent_1;
        opacity: 1;
    }
    
    &.cancel-btn:hover {
        cursor: pointer;
        background-color: $accent_2;
    }
}
