@import "../../utils/mixins";
@import "../../utils/color";

.modal  {
    position: absolute;
    // background-color: rgba($black-primary, .5);
    width: 100%;
    height: 100%;
    
    .modal__content {
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 10;
        transform: translate(-40%, -20%);
        
        box-shadow: 0px 0px 8px 0px black;
        border-radius: 6px;
    }

    .modal__backdrop {
        position: absolute;
        width: 110%;
        height: 100%;

        background-color: rgba($black-primary, .8);
    }
    
}

.modal__content form {
    padding: 2rem 1.6rem;
    @include d-flex(column, center, center);

    .row {
        width: 100%;
        @include d-flex(row, center, center);
        margin-top: .8rem;
    }

    .row__checkbox {
        border: 1px solid rgba(#0000, .5);
        background-color: white;
        padding: .4rem .4rem;
        border-radius: 4px;
        @include d-flex(row, space-evenly, center);
        
        div:hover {
            transform: scale(1.1);
        }
    }
}

.row_select_sub {
    & > * {
        height: 2rem;
        border: 1px solid rgba(#0000, .5);
        @include padding_rl(.2rem, .2rem);
    }

    input[type="text"] {
        width: 100%;
        opacity: .9;
        border-radius: 4px 0 0 4px;

    }
    
    input[type="text"]:focus,
    input[type="text"]:active {
        outline: none;
    }
    
    select {
        background-color: white;
        border-left: none;
        border-radius: 0 4px  4px 0;
    }
}

div.actions.row {
    gap: .8rem;
    justify-content: flex-end;
    margin-bottom: 1rem;

    button {
        font-size: .8rem;
    }
}
