@import "../../utils/mixins";

.row__checkbox {
    border: 1px solid rgba(#0000, .5);
    background-color: white;
    padding: .4rem .4rem;
    border-radius: 4px;
    
    div {
        width: 100%;
        text-align: center;
    }
    div:first-child {
        text-align: left;
    }
    div:last-child {
        text-align: right;
    }
    div:hover {
        transform: scale(1.1);
    }
}

.row_select_sub {
    & > * {
        height: 2rem;
        border: 1px solid rgba(#0000, .5);
        @include padding_rl(.2rem, .2rem);
    }

    input[type="text"] {
        width: 100%;
        opacity: .9;
        border-radius: 4px 0 0 4px;

    }
    
    input[type="text"]:focus,
    input[type="text"]:active {
        outline: none;
    }
    
    select {
        background-color: white;
        border-left: none;
        border-radius: 0 4px  4px 0;
    }
}
