.row--col > * {
    margin-bottom: .4rem;
}
#hours-count {
    width: 100%;
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid rgb(223, 223, 223);
    

    &:focus {
        outline: none;
    }
    
    &:active {
        outline: none;
        background-color: rgb(170, 170, 170);
    }
}

button {
    &.checkbox-btn {
        color: whitesmoke;
        border-radius: 6px;
        box-shadow: none;
        padding: 6px 8px;
        background-color: rgb(48, 46, 46);
        font-size: .8rem;
        margin: .1rem;
    } 

    &.selected,
    &.all {
        background-color: salmon;
        box-shadow: 0px 0px 5px 0px rgb(40, 35, 35);
    }
}



