@import "../../utils/mixins";

.modal__full {
    background-color: hsla(0, 0%, 13%, 0.438);
    @include d-flex(column, center, center);
    
    height: 100vh;
}

form {
    width: 28rem;
    @include padding_tb(2rem, 2rem);
    border-radius: 12px;
    background-color: whitesmoke;
}

.form-control {
    @include d-flex(column, center, center);
    margin: 1.8rem auto;
    width: fit-content;
    gap: .2rem;

    .labels {
        font-size: 1.1rem;
    }
}
#hours-count {
    width: 100%;
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid rgb(223, 223, 223);
    

    &:focus {
        outline: none;
    }
    
    &:active {
        outline: none;
        background-color: rgb(170, 170, 170);
    }
}

button {
    &.checkbox-btn {
        color: whitesmoke;
        border-radius: 6px;
        box-shadow: none;
        padding: 6px 8px;
        background-color: rgb(48, 46, 46);
        font-size: .8rem;
        margin: .1rem;
    } 

    &.generate-form-btn {
        position: relative;
        font-size: .8rem;
        left: 60%;
    }

    &.selected,
    &.all {
        background-color: salmon;
        box-shadow: 0px 0px 5px 0px rgb(40, 35, 35);
    }
}



