// COLORS
$black-primary: #15181a;
$black-secondary: #2c332f;

$secondary_1: #317599;
$secondary_2: #4f78eb;
$secondary_3: #5e5ef5;


$accent_1: #a332fa;
$accent_2: #f04a63;

$white-primary: #f3f2ef;
$white-secondary: #ede4dd; 