table,
/* caption, */
thead,
tbody,
tr,
th,
td 
{
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
    margin-top: 1rem;
}

caption {
    border-bottom: none;
    visibility: collapse;
    opacity: 0;

    transition: all .3s ease-in;
}

table:hover caption {
    height: fit-content;
    visibility: visible;
    opacity: 1;
}

caption > div {
    display: flex;
    justify-content: right;
    font-size: .8rem;
}

caption  button {
    padding: .6rem .8rem;
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-top-width: 1px;
}

caption button:nth-child(1) {
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* border-right: none; */
}


caption span:hover {
    background: #000;
}


td, th {
    padding: .6rem 1.2rem;
}